@import '../../../Variables.scss';

.filter-btn {
  display: none;
}

.drawer-search .MuiDrawer-paperAnchorLeft{
  z-index: 1210;
}

.filter-drawer {
  width: 250px;
  z-index: 1210;
}

@media (max-width: 768px) {
  .filter-btn {
    display: block;
  }
}