main {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 25px;

    .searchbar > * {
        height: 48px;
    }

    .search-content-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    

    .tabs {
        height: 0;
    }
}