main {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-sizing: border-box;

    .search-content-wrapper {
        display: flex;
        justify-content: space-around;

        .filters {
            width: 25%;
        }
    
        .search-results {
            width: 75%;
        }
    }
}