@import '../../Variables.scss';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $mainColor;
  color: #fff;
  padding: 10px;
  font-family: $mainFont;
  font-size: $mainFontSize;
}

.logo {
  text-align: center;
  color: $secondaryColor;
  margin-left: 20px;
  div i {
    font-size: 50px;
  }
  p {
    font-size: 12px;
    margin: 0;
  }
}

.menu {
  display: flex;
  nav {
    margin-right: 40px;
    display: flex;
    align-items: center;
    ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      li {
        margin-right: 30px;
        .nav-link {
          color: #fff;
          text-decoration: none;
          padding-bottom: 5px;
          &:hover {
            border-bottom: 2px solid $secondaryColor;
          }
        }
      }
    }
  }

  .sign {
    display: flex;
    align-items: center;
    .sign-btn {
      margin-right: 10px;
      color: #fff;
      border: 1px solid #fff;
      font-size: 12px;
      padding: 7px 15px;
      &:hover {
        color: $mainColor;
        background-color: $secondaryColor;
      }
    }
  }
}
a {
  color: $secondaryColor;
}
.btn-link {
  color: white;
}
.userGreeting {
  display: inline-block;
  width: 250px;
  padding: 0px 10px;
  text-align: right;
}
