.list {
  width: 70%;
  margin: 0 auto;
}

.vacancy-card {
  margin-bottom: 30px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  .salary {
    margin: 10px;
    text-align: right;
  }
}

.card-content {
  padding-bottom: 0 !important;
}

.card-footer {
  height: 30px;
}

.expand {
  transform: rotate(0deg);
  margin-left: auto;
} 
.expandOpen {
  transform: rotate(180deg);
}