.search {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 50px 0 20px 0;
  position: relative;

}

.main-search {
  margin: 0 auto;
  width: 70%;
}

.search-input .input {
  width: 100%;
  margin: 0;
}

.city {
  width: 14%;
  left: 0;
  position: absolute;
}
  
.city-form {
  width: 100%;
}

.sort {
  position: absolute;
  width: 14%;
  right: 0;
}

.main {
  display: flex;
  width: 100%;
}

.search-header {
  padding: 0;
  top: 80px !important;
}

.filter-drawer {
  position: absolute;
  z-index: 2;
  top: 90px;
}