.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.search-input {
  flex-grow: 1;
  padding: 0 20px;
  .input {
    width: 100%;
  }
}

.city {
  width: 200px;
}

.main {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 30%;
}



