.school-news {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 20px;
}
.school-news-card {
  margin-top: 20px;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;    
  max-height: 57px;     
  -webkit-line-clamp: 3; /* Write the number of lines you want to be displayed */
  -webkit-box-orient: vertical;
}
.media {
  height: 0px;
  padding-top: 56.25%; // 16:9
}
.expand {
  transform: rotate(0deg);
  margin-left: auto;
} 
.expandOpen {
  transform: rotate(180deg);
}
@media only screen and (min-width: 1673px) {
  .school-news-card {
    max-width: 568px;
    min-height: 563px;
  }
}
@media only screen and (min-width: 1273px)and (max-width: 1672px) {
  .school-news-card {
    max-width: 568px;
    min-height: 563px;
  }
}
@media only screen and (min-width: 568px)and (max-width: 1272px) {
  .school-news-card {
    max-width: auto;
    min-height: 563px;
  }
}