// .respond-form {
//   padding: 20px;
// }

// .respond-form-header {
//   text-align: center;
// }

// .respond-form-phone {
//   margin: 20px 0;
// }

.dialog-btn {
  margin-top: 100px;
  
}

.news-dialog {
  padding: 20px;
  text-align: center;
}