@import '../../Variables.scss';
.school-feedbacks {
  margin-top: 20px;
  text-align: center;
  font-size: $mainFontSize;
  p {
    display: flex;
    flex-direction: row;
    font-size: $secondFontSize;
  }
}
.school-fItems {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media only screen and (max-width: 568px) {
  .school-feedbacks p {
    flex-direction: column;
    align-items: center;
  }
}