.teachers-and-vacancies {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.add-comment {
  position: fixed;
  bottom: 77px;
  right: 50px;
  z-index: 1200;
}
.MuiButtonBase-root.MuiExpansionPanelSummary-root.fbacks-sum  {
  display: inline-flex;
}
.MuiPaper-root.MuiPaper-elevation1.MuiExpansionPanel-root.fback-panel.Mui-expanded.MuiExpansionPanel-rounded.MuiPaper-rounded {
  overflow-y: scroll;
  height: 525px;
}
@media only screen and (max-width: 568px) {
  .teachers-and-vacancies {
    display: block;
  }
  .add-comment {
    left:  50px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1678px) {
  .MuiContainer-root.main-container.MuiContainer-maxWidthLg  {
    max-width: 900px;
  }
}
@media only screen and (min-width: 1679px)and (max-width: 1790px) {
  .MuiContainer-root.main-container.MuiContainer-maxWidthLg  {
    max-width: 1150px;
  }
}

