.school-teacher-card {
  width: 300px;
  margin-bottom: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.teachers-card-section {
  float: right;
  position: absolute;
  right: 0px;
  top: 275px;
  text-align: center;
}
.teacher-avatar {
  margin: 10px;
  width: 110px !important;
  height: 110px !important;
  align-self: center;
}
