@import '../../../Variables.scss';
.school-teacher-card {
  width: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  font-size: $secondFontSize;
  font-family: $mainFont;
}
.teachers-card-section {
  float: right;
  position: absolute;
  right: 0px;
  bottom: 2163px;
  text-align: center;
}
.teacher-avatar {
  margin: 10px;
  width: 110px !important;
  height: 110px !important;
  align-self: center;
}
@media only screen and (min-width: 1273px)and (max-width: 1679px) {
  .teachers-card-section {
    bottom: 0;
  } 
}
@media only screen and (min-width: 568px)and (max-width: 1272px) {
  .teachers-card-section{
    bottom: 0px;
    width: 45%;
  }
  .school-teacher-card {
    width: 100%;
  }
}
@media only screen and (max-width: 568px) {
  .teachers-card-section{
    bottom: 0px;
    width: 50%;
  }
}
