@import '../../../Variables.scss';
.school-teacher-card {
  width: 265px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  font-size: $secondFontSize;
  font-family: $mainFont;
  
}
.MuiPaper-elevation1.school-teacher-card {
  box-shadow: none;
}
.MuiExpansionPanel-root.Mui-expanded {
  margin: 0 !important;
}
.teachers-card-section {
  float: right;
  bottom: 2163px;
  right: 20px;
  text-align: center;
}
.teacher-avatar {
  margin: 10px;
  width: 110px !important;
  height: 110px !important;
  align-self: center;
}
@media only screen and (min-width: 1273px)and (max-width: 1679px) {
  .teachers-card-section {
    bottom: 0;
  } 
}
@media only screen and (min-width: 568px)and (max-width: 1272px) {
  .teachers-card-section{
    bottom: 0px;
    width: 45%;
  }
  .school-teacher-card {
    width: 100%;
  }
}
@media only screen and (max-width: 568px) {
  .teachers-card-section{
    bottom: 0px;
    width: 100%;
    right: 0px;
  }
  .school-teacher-card {
    width: 100%;
  }
}
