.news-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 60px;
}
.card {
  width: 768px;
  
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;    
  max-height: 57px;     
  -webkit-line-clamp: 3; /* Write the number of lines you want to be displayed */
  -webkit-box-orient: vertical;
}
.media {
  height: 0px;
  padding-top: 56.25%; // 16:9
}
.expand {
  transform: rotate(0deg);
  margin-left: auto;
} 
.expandOpen {
  transform: rotate(180deg);
}
.news-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}
@media only screen and (min-width: 1673px) {
  .card {
    max-width: 768px;
    margin: 10px;
    min-height: 680px;
  }
}
@media only screen and (min-width: 1273px)and (max-width: 1672px) {
  .card {
    max-width: 568px;
    margin: 10px;
    min-height: 563px;
  }
}
@media only screen and (min-width: 568px)and (max-width: 1272px) {
  .card {
    max-width: auto;
    margin: 10px;
    min-height: 563px;
  }
}