@import '../../Variables.scss';
html,body,#root{
  height: 100%;
  margin:0;
  display:flex; 
  flex-direction:column; 
}
.footer {
  position: relative;
  margin-top: auto;
  background-color: $mainColor;
}
.footer-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-copy {
  color: $secondaryColor;
}
