.map-wrapper {
    width: 100%;
    height: 70vh;
    position: relative;
}

.map-marker {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 80px;

    > * {
        padding: 0;
        margin: 5px;
    }
}