.card-header-vacancy {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
.school-vacancy-card {
  width: 265px;
  padding-bottom: 20px;
}
.vacancy-card-aside {
  position: fixed;
  width: 297px;
  height: 89px;
  left: 20px;
  z-index: 1000;
  top: 375px;
}
.MuiPaper-root.MuiPaper-elevation1.MuiExpansionPanel-root.vacancy-card-aside.Mui-expanded.MuiExpansionPanel-rounded.MuiPaper-rounded {
  height: 525px;
  overflow-y: scroll;
}
.MuiPaper-elevation1.school-vacancy-card {
  box-shadow: none;
}
.MuiPaper-root.MuiPaper-elevation1.MuiExpansionPanel-root.vacancy-card-aside.MuiExpansionPanel-rounded.MuiPaper-rounded{
  position: fixed;
}
@media only screen and (min-width: 1273px)and (max-width: 1679px) {
  .MuiPaper-root.MuiPaper-elevation1.MuiExpansionPanel-root.vacancy-card-aside.MuiExpansionPanel-rounded.MuiPaper-rounded{
    position: fixed;
    width: 17%;
  }
  .school-vacancy-card {
    width: 100%;
  }
  .MuiPaper-root.MuiPaper-elevation1.MuiExpansionPanel-root.vacancy-card-aside.Mui-expanded.MuiExpansionPanel-rounded.MuiPaper-rounded {
    height: 405px;
    overflow-y: scroll;
  }
  .card-header-vacancy {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 1679px) and (max-width: 1790px) {
  .MuiPaper-root.MuiPaper-elevation1.MuiExpansionPanel-root.vacancy-card-aside.MuiExpansionPanel-rounded.MuiPaper-rounded{
    position: fixed;
  }
  .school-vacancy-card {
    width: 100%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 1272px) {
  .vacancy-card-aside {
    width: 100%;
    left: 0px;
    position: sticky;
    top: 0px;
  }
  .MuiPaper-root.MuiPaper-elevation1.MuiExpansionPanel-root.vacancy-card-aside.MuiExpansionPanel-rounded.MuiPaper-rounded{
    position: relative;
  }
  .school-vacancy-card {
    width: 100%;
  }
}
