.card-header {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
.school-vacancy-card {
  width: 265px;
  padding-bottom: 20px;
}
.vacancy-card-aside {
  position: fixed;
  width: 297px;
  height: 89px;
  left: 20px;
  z-index: 1000;
  top: 375px;
}
.MuiPaper-root.MuiPaper-elevation1.MuiExpansionPanel-root.vacancy-card-aside.Mui-expanded.MuiExpansionPanel-rounded.MuiPaper-rounded {
  height: 525px;
  overflow-y: scroll;
}
.MuiPaper-elevation1.school-vacancy-card {
  box-shadow: none;
}
.MuiPaper-root.MuiPaper-elevation1.MuiExpansionPanel-root.vacancy-card-aside.MuiExpansionPanel-rounded.MuiPaper-rounded{
  position: fixed;
}
@media only screen and (min-width: 1273px)and (max-width: 1679px) {
  .vacancy-card-aside {
    position: sticky;
    top: 0px;
  }
  .MuiPaper-root.MuiPaper-elevation1.MuiExpansionPanel-root.vacancy-card-aside.MuiExpansionPanel-rounded.MuiPaper-rounded{
    position: sticky;
  }
}
@media only screen and (min-width: 568px)and (max-width: 1272px) {
  .vacancy-card-aside {
    width: 45%;
    position: sticky;
    top: 0px;
  }
  .MuiPaper-root.MuiPaper-elevation1.MuiExpansionPanel-root.vacancy-card-aside.MuiExpansionPanel-rounded.MuiPaper-rounded{
    position: sticky;
  }
  .school-vacancy-card {
    width: 100%;
  }
}
@media only screen and (max-width: 568px) {
  .vacancy-card-aside {
    width: 100%;
    left: 0px;
    position: sticky;
    top: 0px;
  }
  .MuiPaper-root.MuiPaper-elevation1.MuiExpansionPanel-root.vacancy-card-aside.MuiExpansionPanel-rounded.MuiPaper-rounded{
    position: relative;
  }
  .school-vacancy-card {
    width: 100%;
  }
}
